.navbar {
	background-color: transparent;
	position: fixed;
	display: flex;
	justify-content: space-between;
	padding-top: 18px;
}

.nav-logo {
	width: 110px;
	object-fit: contain;
	position: fixed;
	left: 20px;
	cursor: pointer;
}

.login-profile {
	width: 48px;
	height: 40px;
	object-fit: contain;
	position: fixed;
	right: 20px;
	cursor: pointer;
}
