.navbar {
	width: 100%;
	background-color: transparent;
	position: fixed;
	display: flex;
	justify-content: space-between;
	padding: 18px;
	z-index: 999;
	transition: all 0.3s ease-in;
}

.navbar-black {
	background-color: #000;
}

.nav-logo {
	width: 110px;
	object-fit: contain;
	cursor: pointer;
}

.login-profile {
	width: 45px;
	height: 29.75px;
	object-fit: contain;
	cursor: pointer;
}
