.row {
	background-color: #000;
	color: #fff;
}

.row_title {
	padding: 20px 0 0 20px;
}

.posters {
	display: flex;
	padding: 25px;
	overflow-x: scroll;
	overflow-y: hidden;
}

.posters::-webkit-scrollbar {
	display: none;
}

.poster {
	width: 100%;
	max-width: 160px;
	object-fit: contain;
	transition: transform 0.3s;
	margin-right: 14px;
}

.poster:hover {
	transform: scale(1.15);
}

.poster_large {
	width: 100%;
	max-width: 165px;
	margin-right: 16px;
}
